In [6]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.3.4-cp37-cp37m-win_amd64.whl (10.0 MB)
Collecting pytz>=2017.3
  Downloading pytz-2021.3-py2.py3-none-any.whl (503 kB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\appdata\local\programs\python\python37\lib\site-packages (from pandas) (1.21.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python37\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.4 pytz-2021.3

WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\user\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [40]:
import pandas as pd
import numpy

In [8]:
df = pd.read_csv('https://d11s0xq1vqg039.cloudfront.net/videos_conteudo/visual/micro01/oficina/arquivos/dadosoficina01.txt')

In [9]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

beer_servings = litros de cerveja consumidos por pessoa em 2010

sipirit_servings = litros de licor consumidos por pessoa em 2010

wine_servings = litros de vinho consumidos por pessoa em 2010

total_litres_of_pure_alcohol = total de livros de álcool consumidos por pessoa em 2010

## Qual a média e desvio padrão do consumo de cerveja, licor, vinho e total de álcool?

### Média e DP do consumo de cerveja

In [20]:
mean_of_beer_servings_for_all_countries = df['beer_servings'].mean()
std_deviation_of_beer_servings_for_all_countries = df['beer_servings'].std()

print(f'Média do consumo de cerveja entre todos os países: {mean_of_beer_servings_for_all_countries} L/ano')
print(f'Desvio padão de consumo de cerveja entre todos os países: {std_deviation_of_beer_servings_for_all_countries}')

Média do consumo de cerveja entre todos os países: 106.16062176165804 L/ano
Desvio padão de consumo de cerveja entre todos os países: 101.1431025393134

### Média e DP do consumo total de licor

In [19]:
mean_of_spirit_servings_for_all_countries = df['spirit_servings'].mean()
std_deviation_of_spirit_servings_for_all_countries = df['spirit_servings'].std()

print(f'Média do consumo de licor entre todos os países: {mean_of_spirit_servings_for_all_countries} L/ano')
print(f'Desvio padrão do consumo de licor entre todos os países: {std_deviation_of_spirit_servings_for_all_countries}')

Média do consumo de licor entre todos os países: 80.99481865284974 L/ano
Desvio padrão do consumo de licor entre todos os países: 88.2843121096862

### Média e DP do consumo total de vinho

In [23]:
mean_of_wine_servings_for_all_countries = df['wine_servings'].mean()
std_deviation_of_wine_servings_for_all_countries = df['spirit_servings'].std()

print(f'Média do consumo de vinho entre todos os países: {mean_of_wine_servings_for_all_countries}')
print(f'Desvio padão do consumo de vinho entre todos os países: {std_deviation_of_wine_servings_for_all_countries}')

Média do consumo de vinho entre todos os países: 49.45077720207254
Desvio padão do consumo de vinho entre todos os países: 88.2843121096862

### Média e DP do consumo total de álcool

In [27]:
mean_of_alcohol_servings_for_all_countries = df['total_litres_of_pure_alcohol'].mean()
std_deviation_of_alcohol_servings_for_all_countries = df['total_litres_of_pure_alcohol'].std()

print(f'Média do consumo total de álcool entre todos os países: {mean_of_alcohol_servings_for_all_countries} L/ano')
print(f'Desvio padrão do consumo total de álcool entre todos os países: {std_deviation_of_alcohol_servings_for_all_countries}')

Média do consumo total de álcool entre todos os países: 4.717098445595855 L/ano
Desvio padrão do consumo total de álcool entre todos os países: 3.7732981643560835

In [28]:
df.describe() # Forma alternativa

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

Pelos resultados obtidos na tabela acima, podemos conduzir 4 análises a respeito de todos os países:

- Para a quantidade total de litros de cerveja consumidos por ano, temos que a média é 106.160622 e o desvio padrão 101.143103, tendo assim dados bem dispersos, com mais ou menos 100 litros de consumo a menos ou a mais do que a média total por ano. De todos os países estudados, 25% deles apresentavam consumo de cerveja menor ou igual a 20 L/ano, enquanto que 50% deles possuíam consumo menor ou igual a 76 L/ano e até 75% dos mesmos apresentavam consumo menor ou igual a 188 L/ano, sendo o maior consumo de cerveja de 376 L/ano.


- Para a quantidade total de litros de licor consumidos por ano, temos que a média é 80.994819 e o desvio padrão 79.697598, tendo dados bem dispersos, aproximadamente 80 Litros acima e abaixo da média. O menor valor de consumo é 0 L/ano, talvez por uma incapacidade de medição. Até 25% de todos os consumos dos países estavam abaixo de 4L/ano, até 50% dos países possuem consumo de licor abaixo ou igual a 56 L/ano e até 75% dos países possuíam consumo de licor menor ou igual a 128 L/ano (análise dos quartis). O máximo consumo de licor em um país se deu com 438 Litros por ano.


- Para a quantidade total de litros de vinho consumidos por ano, temo que a média é 49.450777, o desvio padrão 79.697598. Analisando os quartis, 25% dos países possuem consumo de vinho menor do que 1 L / ano, enquanto 50% dos países possuem consumo menor do que 8L/ano e 75% possuem consumo menor do que 59L/ano. O máximo consumo de vinho é de 370L/ano.


- Para a quantidade total de álcool consumida pelos países, temos que a média é 4.717098 L/ano com desvio padrão de 3.773298L/ano. Até 25% dos países possuíam consumo total de álcool menor do que 3L/ano, até 50% dos países possuíam consumo de álcool até 4.2 L/ano e até 75% dos países possuíam consumo menor do que 7.2L/ano.

## Qual o consumo de licor na França?

Para este exercício, irei realizar uma query ao data frame para retornar um novo data frame apenas com os dados da frança e irei acessar os dados da coluna "spirit_servings".

In [36]:
df_with_only_france_data = df[df['country'] == 'France']
df_with_only_france_data['spirit_servings']

61    151
Name: spirit_servings, dtype: int64

Ou seja, o consumo de licor em Litros por ano por uma pessoa na França em 2010 foi 151 L/ano

## Quais os 5 países nos quais se consome mais vinho?

Para isto, podemos organizar os dados do dataframe utilizando o método ``sort_values`` e utilizando a coluna "wine_servings" no atributo "by". Após isso, utilizamos o método head para obter o nome dos 5 países onde mais se consomem vinho.

In [46]:
countries = df.sort_values(by="wine_servings", ascending=False).country[0:5]
print('Países que mais consomem vinho, em ordem decrescente: ')
print(countries.values)

Países que mais consomem vinho, em ordem:
['France' 'Portugal' 'Andorra' 'Switzerland' 'Denmark']

## Quais os países nos quais o consumo de cerveja está acima da média?

Para isto, filtraremos o data frame original de forma a retornar um novo com observações apenas dos países nos quais o consumo de álcool é menor do que o da média de todos os países:

In [51]:
countries = df[df['beer_servings'] > mean_of_beer_servings_for_all_countries].sort_values(by='beer_servings', ascending=False).country
print('Países com consumo de álcool acima da média, em ordem decrescente: ')
print(countries.values)

Países com consumo de álcool acima da média, em ordem:
['Namibia' 'Czech Republic' 'Gabon' 'Germany' 'Poland' 'Lithuania'
 'Venezuela' 'Ireland' 'Palau' 'Romania' 'Belgium' 'Panama' 'Spain'
 'Serbia' 'Latvia' 'Austria' 'Slovenia' 'Finland' 'Belize' 'Australia'
 'Netherlands' 'USA' 'Russian Federation' 'Andorra' 'Brazil' 'Canada'
 'Mexico' 'Luxembourg' 'Hungary' 'Iceland' 'Bulgaria' 'Croatia'
 'South Africa' 'Denmark' 'Estonia' 'United Kingdom' 'Angola' 'Paraguay'
 'Ukraine' 'New Zealand' 'Grenada' 'Trinidad & Tobago' 'Slovakia'
 'St. Kitts & Nevis' 'Portugal' 'Dominican Republic' 'Argentina' 'Cyprus'
 'Niue' 'Switzerland' 'Botswana' 'St. Lucia' 'Norway' 'Bolivia' 'Peru'
 'Ecuador' 'Colombia' 'Seychelles' 'Sweden' 'Malta' 'Costa Rica'
 'Cameroon' 'Cabo Verde' 'Barbados' 'Belarus' 'South Korea' 'Greece'
 'Chile' 'Suriname' 'France' 'Kazakhstan' 'Bahamas'
 'St. Vincent & the Grenadines' 'Uruguay' 'Vietnam' 'Moldova']

## Quais países nos quais o consumo total de álcool está acima do Brasil, em ordem do menor para o maior

Para isto, irei realizar uma query no data frame original filtrando o campo "beer_servings". Assim, o novo data frame só possuirá observações as quais o campo "beer_servings" possuir um valor maior o que o do Brasil.

In [60]:
brazil_beer_servings = df[df['country'] == 'Brazil'].beer_servings
brazil_beer_servings.iloc[0]

245

In [64]:
countries = df[df['beer_servings'] > brazil_beer_servings.iloc[0]].sort_values(by='beer_servings', ascending=False).country
countries.values

array(['Namibia', 'Czech Republic', 'Gabon', 'Germany', 'Poland',
       'Lithuania', 'Venezuela', 'Ireland', 'Palau', 'Romania', 'Belgium',
       'Panama', 'Spain', 'Serbia', 'Latvia', 'Austria', 'Slovenia',
       'Finland', 'Belize', 'Australia', 'Netherlands', 'USA',
       'Russian Federation'], dtype=object)